@model AccountDetailModel
@{
    ViewData["Title"] = "Accounts-CommonPass";
}
<div class="container-fluid">
    <div class="h3 mb-2 text-gray-800">
        Accounts

        <button class="btn btn-success " id="add-account"><i class="fa fa-plus"></i></button>
    </div>

    <div class="card">
        <div class="card-body">
            <table class="table table-bordered " id="ViewTable">
                <thead>
                    <tr>
                        <th width="5%">SN</th>
                        <th width="30%">Account Name</th>
                        <th width="30%">User Name</th>
                        <th width="20%">Password</th>
                        <th width="15%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var i = 1;
                    }
                    @foreach (var data in Model.Details)
                    {
                        <tr>
                            <td>@i</td>
                            <td><input type="text" class="form-control" readonly value="@data.Account" /></td>
                            <td><input type="text" value="@data.UserName" class="form-control Name" readonly /></td>
                            <td><input type="password" value="@data.Pass" class="form-control Password" readonly /></td>
                            <td>
                                <button class="btn btn-danger decrypt-password" data-accountId="@data.Id"><i class="fa fa-eye"></i></button> |
                                <button class="btn btn-warning update-account" data-accountId="@data.Id"><i class="fa fa-edit"></i></button>

                            </td>
                        </tr>
                        i++;
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModelTitle">Add Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBodyContent">
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#ViewTable").DataTable({
                //dom: 'Bfrtip',
                // buttons: [
                //     {
                //         extend: 'excel',
                //         text: '<i class="fa fa-file-excel"></i>',
                //         action: function (e, dt, button, config) {
                //             window.location.href = '/Pass/Accounts/ExportToExcel';
                //         }
                //     }
                // ]
            });

            $(document).on("click", "#save_account", function (event) {
                event.preventDefault();

                var account = $("#Account").val();
                if (!account) {
                    ShowInfoNotification("Account Name is Required.");
                    return false;
                }
                var name = $("#UserName").val();
                if (!name) {
                    ShowInfoNotification("User Name is Required.");
                    return false;
                }

                var pass = $("#Password").val();
                if (!pass) {
                    ShowInfoNotification("Password is Required.");
                    return false;
                }

                var data = {
                    Account: account,
                    Pass: pass,
                    UserName: name,
                    Id: $("#Id").val(),
                    UserId: $("#UserId").val()
                }

                $.ajax({
                    method: "POST",
                    url: "/api/AccountDetails/AddOrUpdate",
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    success: function (response) {
                        if (response.StatusCode == 200) {
                            ShowSuccessNotification(response.Message);

                            setTimeout(function () {
                                $('#myModal').fadeOut('slow', function () {
                                    $(this).modal('hide');
                                });
                                location.reload();
                            }, 800);

                        } else {
                            ShowErrorNotification(response.Message);
                        }

                    },
                    error: function (error) {
                        console.log(error)
                        ShowErrorNotification(error.responseText);
                    }
                });
            });


            $("#add-account").click(function () {

                $.get("/Pass/Accounts/AddorUpdate", function (data) {

                    // Update the modal body content
                    $("#modalBodyContent").html(data);

                    // Show the modal
                    $("#myModal").modal('show');
                });
            });
            $(".update-account").click(function () {

                var Id = $(this).attr("data-accountId");
                $.get("/Pass/Accounts/AddorUpdate?id=" + Id, function (data) {

                    $("#modalBodyContent").html(data);

                    $("#myModal").modal('show');
                });
            });
            $(document).on("click", ".decrypt-password", function (event) {

                event.preventDefault();

                var button = $(this);

                var Id = button.attr("data-accountId");

                $.get("/api/AccountDetails/DecryptPassword?accountId=" + Id, function (data) {
                    console.log(data)
                    var PassElm = button.closest("tr").find(".Password");

                    $(PassElm).attr("type", "text");
                    $(PassElm).val(data.Data.Password);

                    button.html('<i class="fa fa-eye-slash"></i>');
                    button.removeClass("btn-danger decrypt-password").addClass("btn-success encrypt-password");
                });

            });
            $(document).on("click", ".encrypt-password", function (event) {
                event.preventDefault();

                var button = $(this);


                var PassElm = button.closest("tr").find(".Password");
                $(PassElm).attr("type", "password");
                $(PassElm).val("EncryptedPassword");

                button.html('<i class="fa fa-eye"></i>');
                button.removeClass("btn-success encrypt-password").addClass("btn-danger decrypt-password");

            });
        });
    </script>
}