@model AccountDetailModel
@{
    ViewData["Title"] = "Accounts-CommonPass";
    var EncryptedPassword = "\u2022\u2022\u2022\u2022\u2022\u2022\u2022\u2022\u2022";
}
<div class="container-fluid">
    <div class="h3 mb-2 text-gray-800">
        Accounts

        <button class="btn btn-success " id="add-account"><i class="fa fa-plus"></i></button>
    </div>

    <div class="card">
        <div class="card-body">
            <table class="table table-bordered" id="ViewTable">
                <thead>
                    <tr>
                        <th width="5%">SN</th>
                        <th width="30%">Account Name</th>
                        <th width="30%">User Name</th>
                        <th width="20%">Password</th>
                        <th width="15%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var i = 1;
                    }
                    @foreach (var data in Model.Details)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@data.Account</td>
                            <td>@data.UserName</td>
                            <td> <span class="Password">@EncryptedPassword</span></td>
                            <td>
                                <button class="btn btn-danger decrypt-password" data-accountId="@data.Id"><i class="fa fa-sm fa-eye"></i></button> |
                                <button class="btn btn-warning update-account" data-accountId="@data.Id"><i class="fa fa-sm fa-edit"></i></button> |
                                <button class="btn btn-danger remove-account" data-accountId="@data.Id"><i class="fa fa-sm fa-trash"></i></button> 

                            </td>
                        </tr>
                        i++;
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModelTitle">Add Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBodyContent">
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#ViewTable").DataTable({
                responsive: true,
            });

            $(document).on("click", "#save_account", function (event) {
                event.preventDefault();
                BlockWindow("Saving..");
                var account = $("#Account").val();
                if (!account) {
                    ShowInfoNotification("Account Name is Required.");
                    return false;
                }
                var name = $("#UserName").val();
                if (!name) {
                    ShowInfoNotification("User Name is Required.");
                    return false;
                }

                var pass = $("#Password").val();
                if (!pass) {
                    ShowInfoNotification("Password is Required.");
                    return false;
                }

                var data = {
                    Account: account,
                    Pass: pass,
                    UserName: name,
                    Id: $("#Id").val(),
                    UserId: $("#UserId").val()
                }

                $.ajax({
                    method: "POST",
                    url: "/api/AccountDetails/AddOrUpdate",
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    success: function (response) {
                        if (response.StatusCode == 200) {
                            ShowSuccessNotification(response.Message);

                            setTimeout(function () {
                                $('#myModal').fadeOut('slow', function () {
                                    $(this).modal('hide');
                                });
                                location.reload();
                            }, 800);

                        } else {
                            ShowErrorNotification(response.Message);
                            UnBlockWindow();

                        }

                    },
                    error: function (error) {
                        ShowErrorNotification(error.responseText);
                UnBlockWindow();

                    }
                    
                });
            });


            $("#add-account").click(function () {

                $.get("/Pass/Accounts/AddorUpdate", function (data) {

                    // Update the modal body content
                    $("#modalBodyContent").html(data);

                    // Show the modal
                    $("#myModal").modal('show');
                });
            });
            $(".update-account").click(function () {

                var Id = $(this).attr("data-accountId");
                $.get("/Pass/Accounts/AddorUpdate?id=" + Id, function (data) {

                    $("#modalBodyContent").html(data);

                    $("#myModal").modal('show');
                });
            });
            $(document).on("click", ".remove-account", function (event) {

                event.preventDefault();
                var button = $(this);

                var Id = button.attr("data-accountId");
                $.confirm({
                    title: 'Delete Account Details?',
                    content: 'Are you sure to remove current account, This cannot be undone.',
                    type: 'red',
                    typeAnimated: true,
                    buttons: {
                        tryAgain: {
                            text: 'Yes',
                            btnClass: 'btn-red',
                            action: function () {
                                BlockWindow();
                                $.ajax({
                                    url: `/api/AccountDetails/RemoveAccount/${Id}`,
                                    type: 'DELETE',
                                    contentType: 'application/json',
                                    success: function (response) {
                                        if (response.StatusCode == 200) {

                                            ShowSuccessNotification(response.Message);

                                            setTimeout(function () {
                                                location.reload();
                                            }, 800);

                                        } else {
                                            ShowErrorNotification(response.Message);
                                        }
                                    },
                                    error: function (error) {
                                        ShowErrorNotification(error.responseText);
                                    }, complete: function () {
                                        UnBlockWindow();
                                    }
                                });
                            }
                        },
                        close: function () {
                        }
                    }
                });


            });

            $(document).on("click", ".decrypt-password", function (event) {

                event.preventDefault();

                var button = $(this);

                var Id = button.attr("data-accountId");

                $.get("/api/AccountDetails/DecryptPassword?accountId=" + Id, function (data) {
                    var PassElm = button.closest("tr").find(".Password");

                    $(PassElm).text(data.Data.Password);

                    button.html('<i class="fa fa-eye-slash"></i>');
                    button.removeClass("btn-danger decrypt-password").addClass("btn-success encrypt-password");
                });

            });
            $(document).on("click", ".encrypt-password", function (event) {
                event.preventDefault();

                var button = $(this);


                var PassElm = button.closest("tr").find(".Password");

                $(PassElm).text("\u2022".repeat(8));

                button.html('<i class="fa fa-eye"></i>');
                button.removeClass("btn-success encrypt-password").addClass("btn-danger decrypt-password");

            });
        });
    </script>
}